.chat {
  height: 100%;
  border: 1px solid lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.chat-users {
  height: 800px;
  border: 1px solid lightgray;
}

.chat-messages {
  height: 800px;
  border: 1px solid lightgray;
}

.chat-chat {
  padding-top: 5px;
}

.message-container {
  margin: 5px 5px 5px 5px;
}

.message-message {
}

.message-from {
  background-color: lightgray;
  padding-left: 5px;
  font-weight: bold;
}

.message-date {
  font-weight: bold;
}
